/*
	Developed by: Numinix;
*/

/* alert */
.alert.forward {
	color: #ed1c24;
	font-size: 12px;
}

/* style box */
#accountPassword fieldset {
	border: none;
	padding: 0;
}

#accountPassword .field__container {
	background: #f2f2f2;
	border: 1px solid #E9E9E9;
	padding: 21px;
	box-sizing: border-box;
}
	
	/* fields */
	#accountPassword .field__container .field {
		margin-top: 18px;
	}

	#accountPassword .field__container .field:first-child {
		margin-top: 0;
	}

		/* labels */
		#accountPassword .field__container label {
			display: block;
			color: #333;
			font-size: 14px;
			margin: 0 0 9px;
			line-height: 100%;
			padding: 0;
			width: auto;
			float: none;
		}

			#accountPassword .field__container label .alert {
				color: #ed1c24;
				margin-left: 0;
			}

		/* input */
		#accountPassword .field__container .field input[type="password"] {
			background: #fff;
			color: #333;
			font-size: 14px;
			border: 1px solid #ccc;
			height: 30px;
			margin: 0;
			padding: 5px;
			border-radius: 0;
			max-width: 246px;
			width: 100%;
			box-sizing: border-box;
		}

	/* buttons */
	.button__container {
		clear: both;
		padding-top: 21px;
		overflow: hidden;
	}
		
		/* positions */
		.button__container .buttonRow {
			display: inline-block;
			padding: 0;
			margin: 0;
			vertical-align: middle;
		}

		.button__container .buttonRow + .buttonRow {
			margin-left: 12px;
		}

		.button__container input[type="submit"],
		.button__container span {
			background: #333;
			border: 1px solid #333;
			color: #fff;
			cursor: pointer;
			font-size: 14px;
			margin: 0;
			font-weight: bold;
			padding: 9px 15px 10px;
			text-transform: uppercase;
			width: auto !important;
		}

		.button__container input:hover,
		.button__container span:hover {
			background: #fff;		
			color: #333;
		}

		.button__container a {
			color: #333;
			font-size: 14px;
			text-decoration: underline;
		}

		.button__container a:hover {
			text-decoration: none;
		}